{% extends "base.html" %}
{% block content %}
<div class="container mt-5 alert alert-success shadow" style="max-width:600px;margin:auto;">
    <h2 class="text-center mb-4">Export Data to Database Table</h2>
    <form action="{% url 'exportdata' %}" method="post" style="max-width:600px;margin:auto;" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} <div class="form-group">
            <label for="filepath">Upload CSV File</label>
            <input type="file" name="filepath" class="form-control"/>
        </div> {% endcomment %}
        <div class="mb-4">  <!-- Changed from mb-3 to mb-4 for more spacing -->
            <label for="model_name" class="form-label">Select Database Table</label>
            <select name="model_name" class="form-control">
                <option value="" disabled selected>Select</option>
                {% for model in all_models %}
                <option value={{ model }}>{{ model }}</option>
                {% endfor %}
            </select> 
        </div>
          <button type="submit" class="btn btn-success">Export Data</button>
        <div class="mt-4 p-3">  <!-- Added p-3 for padding around alert -->
            {% include "alert.html" %}
        </div>
    </form>
</div>
{% endblock %}