{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 alert alert-primary shadow" style="max-width:600px;margin:auto;">
    <h2 class="text-center mb-4">Import Data To Database Tables</h2>
    <form action="{% url 'importdata' %}" method="post" style="max-width:600px;margin:auto;" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="filepath">Upload CSV File</label>
            <input type="file" name="filepath" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="model_name">Select Database Table</label>
            <select name="model_name" class="form-control">
                <option value="" disabled selected>Select</option>
                {% for model in all_models %}
                <option value={{ model }}>{{ model }}</option>
                {% endfor %}
            </select> 
        </div>
            <!-- Added wrapper for full-width button -->
            <div class="mb-3">
            <button type="submit" class="btn btn-primary px-4">Import Data</button>
            </div>
        <div class="mt-4 p-3">  <!-- Added padding and increased margin -->
            {% include "alert.html" %}
        </div>
    </form>
</div>
{% endblock %}